/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --text-color-header: #db00ff;
  --text-color-main: #000028;
  --button-color: #ff0070;
  --text-color-p: #f1b2ce;
  --bg-color-main: #000028;
  --accent-color-transp: rgba(255, 0, 112, 0.4);
  --rec-on: inline-block;
  --color-caption: #ff0070;
}

.theme-dark .page {
  --bg-image: url(../images/cover-image-dark.png);
  .rec {
    display: inline-block;
  }
}
