/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color:#FF0070;
  --text-color-header: #DB00FF;
  --main-font: 'IBM Plex mono', monospace;
  --text-color-main:#000028;
  --text-color-p:#F1B2CE;
  --bg-color-main:#000028;
  --accent-color-transp: rgba(255, 0, 112, 0.3);
}

.theme-dark .page {
  --bg-image: url(../images/cover-image-dark.png);
}
