/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --text-color-header: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color-main: #353430;
  --text-color-p: #353430;
  --bg-color-main: #fff1f7;
  --accent-color-transp: rgba(255, 141, 203, 0.3);
}

.theme-light .page {
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color-header: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color-main: #353430;
    --text-color-p: #353430;
    --bg-color-main: #fff1f7;
    --accent-color-transp: rgba(255, 141, 203, 0.3);
    --bg-image: url(../images/cover-image-light.png);
  }
}
