:root {
  --text-color-header: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color-main: #353430;
  --text-color-p: #353430;
  --bg-color-main: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-size: 18px;
  --padding-section: 20px;
  --gap-main: 20px;
  --gap-small: 10px;
  --header-margin-top: 16%;
  --border-corner-size: 25px;
  --text-line-height: 23.4px;
  --accent-color-transp: rgba(255, 0, 112, 0.5);
}
